<section>
	<div class="row">
    <div class="col-12">
      <table class="table table-stripped">
      	<thead>
      		<tr>
      			<a class="btn btn-success btn-block btn-lg btn-table" href="#!clubes/novo">
      				<i class="fas fa-plus"></i> Incluir Novo Clube
      			</a>
      		</tr>
      	</thead>
        <tbody>
          <tr class="row no-gutters" ng-repeat="clube in clubes">
            <td class="col-xl-10 col-sm-8 col-5">
              {{clube.nome}}
            </td>

            <td class="col-auto ml-auto">
              <a class="btn btn-outline-success btn-sm" href="#!clubes/detalhes">Detalhes</a>
            </td>

            <td class="col-auto">
              <button class="btn btn-danger btn-sm" ng-click="apagarClube($index)">Apagar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>