<section>
	<div class="row">
    <div class="col-12">
      <table class="table table-stripped">
      	<thead>
      		<tr>
      			<a class="btn btn-success btn-block btn-lg btn-table" href="#!clubes/novo">
      				<i class="fas fa-plus"></i> Incluir Novo Clube
      			</a>
      		</tr>
      	</thead>
        <tbody>
          <tr class="row no-gutters">
            <td class="col-xl-10 col-sm-8 col-6">Clube 1</td>
            <td class="col">
              <a class="btn btn-outline-success btn-sm" href="#!clubes/detalhes">Detalhes</a>
            </td>
            <td class="col">
              <a class="btn btn-danger btn-sm" href="">Apagar</a>
            </td>
          </tr>
          <tr class="row no-gutters">
            <td class="col-xl-10 col-sm-8 col-6">Clube 2</td>
            <td class="col">
              <a class="btn btn-outline-success btn-sm" href="#!clubes/detalhes">Detalhes</a>
            </td>
            <td class="col">
              <a class="btn btn-danger btn-sm" href="">Apagar</a>
            </td>
          </tr>
          <tr class="row no-gutters">
            <td class="col-xl-10 col-sm-8 col-6">Clube 3</td>
            <td class="col">
              <a class="btn btn-outline-success btn-sm" href="#!clubes/detalhes">Detalhes</a>
            </td>
            <td class="col">
              <a class="btn btn-danger btn-sm" href="">Apagar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>