<section>
	<div class="row">
    <div class="col-12">
      <table class="table table-stripped">
      	<thead>
      		<tr>
      			<a class="btn btn-success btn-block btn-lg btn-table" href="#!jogos/novo">
      				<i class="fas fa-plus"></i> Incluir Novo Jogo
      			</a>
      		</tr>
      	</thead>
        <tbody>
          <tr class="row no-gutters" ng-repeat="jogo in jogos">
            <td class="col-xl-6 col-6">
              {{jogo.clube}}
            </td>

            <td class="col-xl-auto col-6 ml-auto">
              {{jogo.data + " - " + jogo.hora}}
            </td>

            <td class="col-sm-auto col-6">
              <a class="btn btn-outline-success btn-sm btn-block" ng-href="#!jogos/{{$index}}/detalhes">Detalhes</a>
            </td>

            <td class="col-sm-auto col-6">
              <button class="btn btn-danger btn-sm btn-block" ng-click="apagarJogo($index)">Apagar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
